@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-bg-main: #F8FAFC;
  --color-text-dark: #0F172A;
  --color-border-subtle: #E5E7EB;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-dark);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}